process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    time = '2h'

    withName: FASTQC {
        cpus = 2
        memory = '2 GB'
    }

    withName: MULTIQC {
        cpus = 1
        memory = '2 GB'
    }
}

profiles {
    standard {
        docker.enabled = false
    }

    docker {
        docker.enabled = true
        process.container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
    }

    test {
        params.outdir = 'results/test'
    }
}
